<h4>Self Annotation</h4>
<p> This annotation applicable for null injector but for any injector, we can inject in component as well as in module constructor
    <strong>@Self()</strong> annotation is given while creating instance in constructor for a service.</p>
<ng-container *ngIf="result?.length != 0 ; else noProviders">
    <strong>From : </strong>{{result[0]}} | <strong>Message: </strong>{{result[1]}}
</ng-container>
<ng-template #noProviders>
    <strong>Failed : Service Not Injected </strong>
</ng-template>
<div class="border border-secondary my-2"></div>
<h4>SkipSelf Annotation</h4>
<p> 
    <strong>@SkipSelf()</strong> annotation is given while creating instance in constructor for a service.</p>
<ng-container *ngIf="resultSkipSelf?.length != 0 ; else noProviders">
    <strong>From : </strong>{{resultSkipSelf[0]}} | <strong>Message: </strong>{{resultSkipSelf[1]}}
</ng-container>
<ng-template #noProviders>
    <strong>Failed : Service Not Injected </strong>
</ng-template>